{% extends "layout.html" %}
{% block title %}注册 - 中传海南选课红黑榜{% endblock %}
{% block content %}
<h1 class="mb-4">注册</h1>
<form method="post">
    {{ form.csrf_token }}
    <div class="mb-3">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
        <div class="form-text">请使用@cuc.edu.cn邮箱注册</div>
    </div>
    <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.confirm_password.label(class="form-label") }}
        {{ form.confirm_password(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}